{#
  Generic alert element

  Params:
    - type <string> (default: info)
        Type of alert (sets CSS class `alert-{type}`)
    - icon <string> (default: none)
        Alert icon (sets CSS class `icon-{icon}`)
    - title <string> (default: None)
        Alert title
#}
{% macro alert(type='info', icon=None, title=None) %}
  <div class="alert alert-{{type}}"
    role="alert"
    {% if title %}aria-labelledby="alert-heading-{{type}}"{% endif %}
  >
    {% if icon %}
      <span class="icon icon-{{icon}}" aria-hidden="true"></span>
    {% endif %}
    <div class="alert-message govuk-{{type}}-summary">
      {% if title %}
        <h2 class="alert-header govuk-heading-l govuk-{{type}}-summary__title" id="alert-heading-{{type}}">{{ _(title) }}</h3>
      {% endif %}
      {{ caller() }}
    </div>
  </div>
{% endmacro %}

{% macro error(type='error', icon=None, title=None) %}
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    {% if title %}
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        {{ _(title) }}
      </h2>
    {% endif %}
    <div class="govuk-error-summary__body">
      {{ caller() }}
    </div>
  </div>
{% endmacro %}
