{#
  Generic alert element

  Params:
    - type <string> (default: info)
        Type of alert (sets CSS class `alert-{type}`)
    - icon <string> (default: none)
        Alert icon (sets CSS class `icon-{icon}`)
    - title <string> (default: None)
        Alert title
#}
{% macro error(type='error', icon=None, title=None) %}
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    {% if title %}
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        {{ _(title) }}
      </h2>
    {% endif %}
    <div class="govuk-error-summary__body">
      {{ caller() }}
    </div>
  </div>
{% endmacro %}

{% macro errorText() %}
  {{ caller() }}
{% endmacro %}
