*.iml
*.ipr
*.iws
*.log
*.mo
*.py[cod]
*.ropeproject
*.so
.DS_Store
.coverage
.git/
.idea/
.mr.developer.cfg
.project
.pydevproject
.sass-cache/
.tox
.webassets-cache
Dockerfile
bower_components/
docs/_build
env
env*
fala/assets/
fala/static/
nightwatch.xml
node_modules/
nosetests.xml
output/*.html
output/*/index.html
pip-log.txt
tests/reports/nightwatch/*
venv
docker-compose.yml
run_local.sh
