# Development settings

DEBUG = True
ALLOWED_HOSTS = ["localhost", '127.0.0.1']
LAALAA_API_HOST = "https://laa-legal-adviser-api-staging.apps.live-1.cloud-platform.service.justice.gov.uk"
ENVIRONMENT = "dev"
FEATURE_FLAG_SURVEY_MONKEY = "enabled"
FALA_URL = "http://127.0.0.1:8000/"
