repos:
  - repo: https://github.com/ministryofjustice/devsecops-hooks
    rev: v1.1.0
    hooks:
      - id: baseline
  - repo: https://github.com/ambv/black
    rev: 25.9.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/jazzband/pip-tools
    rev: v7.5.1
    hooks:
      - id: pip-compile
        language_version: python3.12
        name: pip-compile requirements-dev.in
        files: ^requirements-(base|dev|pre-commit)\.in$
        args:
          - requirements/source/requirements-dev.in
          - --output-file
          - requirements/generated/requirements-dev.txt
          - --strip-extras
          - --no-annotate
          - -q
      - id: pip-compile
        language_version: python3.12
        name: pip-compile requirements-pre-commit.in
        files: ^requirements-pre-commit\.in$
        args:
          - requirements/source/requirements-pre-commit.in
          - --output-file
          - requirements/generated/requirements-pre-commit.txt
          - --strip-extras
          - --no-annotate
          - -q
      - id: pip-compile
        language_version: python3.12
        name: pip-compile requirements-lint.in
        files: ^requirements-lint\.in$
        args:
          - requirements/source/requirements-lint.in
          - --output-file
          - requirements/generated/requirements-lint.txt
          - --strip-extras
          - --no-annotate
          - -q
      - id: pip-compile
        language_version: python3.12
        name: pip-compile requirements-production.in
        files: ^requirements-(base|production)\.in$
        args:
          - requirements/source/requirements-production.in
          - --output-file
          - requirements/generated/requirements-production.txt
          - --strip-extras
          - --no-annotate
          - -q
