version: "3.9"
services:
  webapp:
    container_name: fala
    build:
      context: .
      target: ${ENVIRONMENT:-development}
    volumes:
      - ./fala:/home/app/fala
      - /home/app/fala/assets
    command:
      - python3
      - manage.py
      - runserver
      - "0.0.0.0:8000"

    environment:
      ENVIRONMENT: "dev"
      ALLOW_HOSTS: ".localhost"
      LAALAA_API_HOST: "http://laa-legal-adviser-api.laa-legal-adviser-api-staging.svc.cluster.local"
      DJANGO_SETTINGS_MODULE: "fala.settings"
      FEATURE_FLAG_SURVEY_MONKEY: "disabled"
      FEATURE_FLAG_MAINTENANCE_MODE: "disabled"
      FEATURE_FLAG_SINGLE_CATEGORY_SEARCH_FORM: "disabled"
    ports:
      - "8013:8000"
    stdin_open: true
