{% extends 'base.html' %}

{% block before_main_js %}{% endblock %}
{% block main_js %}{% endblock %}

{% block page_title %}Feedback - {{ title }}{% endblock %}

{% block content %}
  <header class="page-header">
    <h1 class="govuk-heading-xl">Your feedback</h1>
  </header>

  {% if error %}
    {% call Element.alert('error') %}
      {{ error.message }}
    {% endcall %}
  {% endif %}

  <form action="" method="POST">
    {% csrf_token %}
    {% if request.META.HTTP_REFERER %}
      <input type="hidden" name="referrer" value="{{ request.META.HTTP_REFERER }}">
    {% endif %}

    {{ Form.group(form.feedback, 'form-group') }}

    <p class="form-action">
      <button type="submit" class="govuk-button">Submit</button>
    </p>
  </form>
{% endblock %}

