{% extends 'base.html' %}

{% block before_main_js %}{% endblock %}
  <script>
  function tagMan() {  // Activate Google Tag Manager
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WDJLHSKL');
  }
  </script>
  {% if (request.COOKIES.get('cookiePermission') == 'Allowed') %}
  <script>tagMan();</script>
  {% endif %}
{% block main_js %}{% endblock %}

{% block page_title %}Feedback - {{ title }}{% endblock %}

{% block content %}
  <header class="page-header">
    <h1 class="govuk-heading-xl">Your feedback</h1>
  </header>

  {% if error %}
    {% call Element.alert('error') %}
      {{ error.message }}
    {% endcall %}
  {% endif %}

  <form action="" method="POST">
    {% csrf_token %}
    {% if request.META.HTTP_REFERER %}
      <input type="hidden" name="referrer" value="{{ request.META.HTTP_REFERER }}">
    {% endif %}

    {{ Form.group(form.feedback, 'form-group') }}

    <p class="form-action">
      <button type="submit" class="govuk-button">Submit</button>
    </p>
  </form>
{% endblock %}

