-r requirements-base.in
-r requirements-pre-commit.in
# pip-tools is pinned because it's important to be in step with .pre-commit-config.yaml
pip-tools==7.4.1
beautifulsoup4<5
pytest-playwright~=0.5.0
django-jinja==2.10.2
playwright~=1.45.0
