{% extends 'base.html' %}

{% block before_main_js %}{% endblock %}
{% block main_js %}{% endblock %}

{% block page_title %}Page not found - 404 - {{ title }}{% endblock %}

{% block content %}
  <header class="page-header">
    <h1>Page not found</h1>
  </header>
  <p>If you entered a web address please check it was correct.</p>
  <p>Alternatively return to <a href="{{ url('adviser') }}">{{ title }} homepage</a> and try again.</p>
{% endblock %}

{% block after_main_js %}
  {% if GA_ID %}
    <script>
      ga('create', '{{ GA_ID }}', 'auto');
      ga('send', 'pageview', '/404' + window.location.pathname + window.location.search);
    </script>
  {% endif %}
{% endblock %}
