{% set error = "500" %}
{% extends 'adviser/adviser_base.html' %}

{% block pageTitle %}{{ _('Sorry, there is a problem with the service - Find a legal advisor or family mediator - GOV.UK') }} - {{ super() }}{% endblock %}

{% block content %}
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{_('Sorry, there is a problem with the service')}}</h1>
    <p class="govuk-body">{{_('Try again later.')}}</p>
    <p class="govuk-body">{{_('You can also ')}}<a class="govuk-link" href="http://solicitors.lawsociety.org.uk/">{{_('find a solicitor')}}</a>{{_(' on the Law Society website.')}}</p>
    <p class="govuk-body">{{_("Search using your location, then select ‘Accepts legal aid’ to show legal aid solicitors near you.")}}</p>
  </div>
{% endblock %}
