{% set error = "500" %}
{% extends 'base.html' %}

{% block before_main_js %}{% endblock %}
  <script>
  function tagMan() {  // Activate Google Tag Manager
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WDJLHSKL');
  }
  </script>
  {% if (request.COOKIES.get('cookiePermission') == 'Allowed') %}
  <script>tagMan();</script>
  {% endif %}
{% block main_js %}{% endblock %}

{% block page_title %}{{ _('Sorry, there is a problem with the service - Find a legal advisor or family mediator - GOV.UK') }} - {{ super() }}{% endblock %}

{% block content %}
  <div class="govuk-grid-column-two-thirds">
    <header class="page-header">
      <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
    </header>
    <p class="govuk-body">Try again later.</p>
    <p class="govuk-body">You can also <a class="govuk-link" href="http://solicitors.lawsociety.org.uk/">find a solicitor</a> on the Law Society website.</p>
    <p class="govuk-body">Search using your location, then select ‘Accepts legal aid’ to show legal aid solicitors near you.</p>
  </div>
{% endblock %}

