{% set htmlLang = request.LANGUAGE_CODE %}
{% set govukRebrand = GOVUK_REBRAND_ENABLED %}
{% extends 'govuk_frontend_jinja/template.html' %}

{%- from 'govuk_frontend_jinja/components/cookie-banner/macro.html' import govukCookieBanner -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from "govuk_frontend_jinja/components/skip-link/macro.html" import govukSkipLink -%}
{%- from "govuk_frontend_jinja/components/service-navigation/macro.html" import govukServiceNavigation -%}
{% set SERVICE_NAME = _("Find a legal aid adviser or family mediator") %}
{% set exitText = _("Exit this page")%}

<head>
  <title {%- if pageTitleLang %} lang="{{ pageTitleLang }}"{% endif %}>{% block pageTitle %}{{_('GOV.UK - The best place to find government services and information')}}{% endblock %}</title>
  {% block headIcons %}
    <link rel="icon" sizes="48x48" href="{{ static('images/favicon.ico') }}">
    <link rel="icon" sizes="any" href="{{ static('images/favicon.svg') }}" type="image/svg+xml">
    <link rel="mask-icon" href="{{ static('images/govuk-icon-mask.svg') }}" color="{{ themeColor | default('#0b0c0c') }}"> {#- Hardcoded value of $govuk-black #}
    <link rel="apple-touch-icon" href="{{ static('images/govuk-icon-180.png') }}">
    <link rel="manifest" href="{{ static('manifest.json') }}">
  {% endblock %}

  {% block head %}
    <link href="{{ static('css/style.css') }}" rel="stylesheet">
    <meta name="description" content="Search for legal aid advisers nearest to you by postcode, legal problem or organisation.">
  {% endblock %}
</head>

{% set skip_text = _('Skip to main content') %}

{% block skipLink %}
  {{ govukSkipLink({
    'href': '#main-content',
    'text': skip_text
  }) }}

  {% if category_code == 'mat' or sub_category_code == 'mat' %}
    {{ govukSkipLink({
      'text': exitText,
      'href': "https://bbc.co.uk/weather/",
      'classes': "govuk-js-exit-this-page-skiplink",
      'attributes': {
        'rel': "nofollow noreferrer"
      }
    }) }}
  {% endif %}
{% endblock %}


{% block header %}
  {% block cookie_banner %}
    {% if not FEATURE_FLAG_MAINTENANCE_MODE %}
      {% include 'adviser/_cookie_banner.html' %}
    {% endif %}
  {% endblock %}

  {{ govukHeader({
        'homepageUrl': "https://www.gov.uk",
        'serviceName': SERVICE_NAME if not govukRebrand,
        'useTudorCrown': true
  }) }}
  {% if govukRebrand %}
    {{ govukServiceNavigation({
      'serviceName': SERVICE_NAME,
      'serviceUrl': "/"
    }) }}
  {%  endif %}


{% endblock %}

{% block main %}
  <div class="govuk-width-container">
    {% block global_subheader %}{% endblock %}
    <main id="main-content" class="govuk-main-wrapper" role="main">
      {% block language %}
          {% include 'adviser/_language.html' %}
      {% endblock %}
      <div class="govuk-grid-row">
        {% if FEATURE_FLAG_MAINTENANCE_MODE %}
          {% include 'maintenance_mode.html' %}
        {% else %}
          {% block content %}{% endblock %}
        {% endif %}
      </div>
    </main>
  </div>
{% endblock %}

{% block footer %}
  {% include "adviser/_footer.html" %}
{% endblock %}

{% block bodyEnd %}
  {% block main_js %}{% endblock %}
  {% block after_main_js %}{% endblock %}
{% endblock %}
