{% extends 'generic-py-base.html' %}

{% block head %}
  {{ super() }}
  <!--[if lt IE 9]>
    <script src="{{ static('scripts/polyfills.bundle.js') }}" type="text/javascript"></script>
  <![endif]-->
{% endblock %}

{% block global_subheader_container %}
  {% if self.global_subheader() %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block main_js %}
  <script nonce="{{request.csp_nonce}}" type="module" src="{{ static('js/all.js') }}"></script>
  <script nonce="{{request.csp_nonce}}" type="module">
      import { initAll } from "{{ static('js/all.js') }}";
      initAll();
  </script>
{% endblock %}

{% block template_type %}external{% endblock %}

