{%- from 'govuk_frontend_jinja/components/header/macro.html' import govukHeader -%}
{%- from 'govuk_frontend_jinja/components/cookie-banner/macro.html' import govukCookieBanner -%}

<!DOCTYPE html>
<html lang="en" class="govuk-template no-js {% block template_type %}{% endblock %}">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>{% block page_title %}GOV.UK - The best place to find government services and information{% endblock %}</title>
    <script nonce="{{request.csp_nonce}}">(function(d){d.className=d.className.replace(/\bno-js\b/,'js-enabled')})(document.documentElement);</script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href="{{ static('images/favicon.ico') }}" />
    {% block stylesheets %}{% endblock %}
    {% block head %}{% endblock %}
  </head>
  <body class="govuk-template__body {{ 'fala-' + ENVIRONMENT }} govuk-frontend-supported">
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <header class="govuk-header " role="banner" data-module="govuk-header">
      <div class="fala-cookie-banner">
        {% block bodyStart %}
          {% if "cookiePermission" not in request.COOKIES %}
            {% set html %}
              <p class="govuk-body">We use some essential cookies to make this service work.</p>
              <p class="govuk-body">We’d like to set additional cookies so we can remember your settings, understand how people use the service and make improvements.</p>
            {% endset %}
            
            {% set acceptHtml %}
              <p class="govuk-body">You’ve accepted additional cookies. You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.</p>
            {% endset %}
            
            {% set rejectHtml %}
              <p class="govuk-body">You’ve rejected additional cookies. You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.</p>
            {% endset %}
          
            {{ govukCookieBanner({
                  'ariaLabel': "Cookies on Find a legal adviser or family mediator",
                  'attributes': {
                    'id': "cookie-banner"
                  },
                  'messages': [
                    {
                      'attributes': {
                        'id': "default-message"
                      },
                      'headingText': "Cookies on Find a legal adviser or family mediator",
                      'html': html,
                      'actions': [
                        {
                          'attributes': {
                            'id': "accept-cookies"
                          },
                          'text': "Accept analytics cookies",
                          'type': "button",
                          'name': "cookies",
                          'value': "accept"
                        },
                        {
                          'attributes': {
                            'id': "reject-cookies"
                          },
                          'text': "Reject analytics cookies",
                          'type': "button",
                          'name': "cookies",
                          'value': "reject"
                        },
                        { 
                          'attributes': {
                            'id': "cookies_banner_view_link"
                          },
                          'text': "View cookies",
                          'href': "/cookies"
                        }
                      ]
                    },
                    {
                      'attributes': {
                        'id': "accepted-message"
                      },
                      'html': acceptHtml,
                      'role': "alert",
                      'hidden': true,
                      'actions': [
                        {
                          'attributes': {
                            'id': "accepted-hide"
                          },
                          'text': "Hide this message"
                        }
                      ]
                    },
                    {
                      'attributes': {
                        'id': "rejected-message"
                      },
                      'html': rejectHtml,
                      'role': "alert",
                      'hidden': true,
                      'actions': [
                        {
                          'attributes': {
                            'id': "rejected-hide"
                          },
                          'text': "Hide this message"
                        }
                      ]
                    }
                  ]
                }) 
            }}
          {% endif %}
        {% endblock %}
      </div>

      {% block header %}
        {{ govukHeader({
          'homepageUrl': "https://www.gov.uk/",
          'serviceName': "Find a legal aid adviser or family mediator",
          'serviceUrl': "/"
        }) }}
      {% endblock %}
    </header>

    <div class="govuk-width-container">
      {% block global_subheader %}{% endblock %}
      <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
          {% block content %}{% endblock %}
        </div>
      </main>
    </div>

    <footer class="govuk-footer" role="contentinfo">
      {% include "footer.html" %}
    </footer>

    {% block before_main_js %}{% endblock %}
    {% block main_js %}{% endblock %}
    {% block after_main_js %}{% endblock %}
  </body>
</html>
