.tabs {
  @include clearfix;
  list-style: none;
  padding: 0px;
  margin: 0;

  .tab {
    float: left;
    margin: 0 -2px 0 0;
    padding: 6px;
    border: 1px solid transparent;
    border-bottom: 0;
  }

  .tab.active {
    position: relative;
    border-color: $grey-2;
    background: $grey-4;

    a {
      background: none;
    }
  }

  .tab a {
    text-decoration: none;
    display: block;
    color: $text-colour;
    background: $grey-3;
    padding: .4em .7em .3em;
  }
}
