$images-dir: '/static/images/';

@import 'govuk';
@import 'find-legal-adviser';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

.other-advise {
  margin-top: 2em;
}

.find-legal-adviser {
  margin-bottom: 2em;
}
