// Set up routing so requests for files in /static are served from /node_modules/govuk-frontend/dist/govuk/all.
// import GDS components from `node_modules`
$govuk-images-path: "/static/images/";
$govuk-fonts-path: "/static/fonts/";
$govuk-new-typography-scale: true;
$govuk-global-styles: true;
$govuk-new-link-styles: true;

@import "node_modules/govuk-frontend/dist/govuk/all";

// import custom CSS
@import 'google-translate';

$laa-unknown-colour: govuk-colour("orange");
$laa-staging-colour: govuk-colour("turquoise");
$laa-dev-colour: govuk-colour("pink");

.fala-tickbox-columns_new {
  // Default for mobile (1 column)
  column-count: 1; 
  // Adjust the gap between columns 
  column-gap: 16px;
}

@media only screen and (min-width: 730px) {
  .fala-tickbox-columns_new {
    // Default for mobile (1 column)
    column-count: 2;
  }
}

.fala-tickbox-columns_new .govuk-checkboxes__item {
  // Ensure items do not break across columns
  break-inside: avoid;
}

.govuk-checkboxes__label {
  &::before {
    background-color: govuk-colour("white");
  }
}

.laa-cookie-policy {
  display: none;
  .js-enabled & {
    display: block;
  }
}

.fala-cookie-banner {
  display: none;
  .js-enabled & {
    display: block;
  }
}

body:not(.fala-production) {
  .govuk-header__container {
    border-bottom-color:$laa-unknown-colour;
  }
  .govuk-phase-banner__content__tag {
    background-color:$laa-unknown-colour
  }
}

body.fala-staging {
  .govuk-header__container {
    border-bottom-color:$laa-staging-colour;
  }
  .govuk-phase-banner__content__tag {
    background-color:$laa-staging-colour;
  }
}

body.fala-dev {
  .govuk-header__container {
    border-bottom-color:$laa-dev-colour;
  }
  .govuk-phase-banner__content__tag {
    background-color:$laa-dev-colour;
  }
}

.laa-fala {
  &__grey-box {
    background-color: govuk-colour("light-grey");
    padding: 1em;
  }
}

.miles-away {
  color: $govuk-secondary-text-colour;
  margin-top: govuk-spacing(4);
}

.results-list-item {
  margin-top: govuk-spacing(4);
  border-top: 1px solid govuk-colour("mid-grey");

  .telephone {
    margin-top: govuk-spacing(2);
  }

  .address {
    margin-top: govuk-spacing(2);
  }

  .website {
    margin-top: govuk-spacing(2);
  }

  .categories {
    margin-top: govuk-spacing(2);
    margin-bottom: 0;

    .govuk-list {
      margin-bottom: 0;
    }
  }
}

.research-panel {
  background: govuk-colour("blue");

  text-align: left;

  // All text on the blue background should be white for accessibility and legibility purposes.
  // However, several govuk classes that provide handy spacing and typography rules also dictate a dark text colour.
  // Therefore we use this strong rule to ensure that text stays white even when we use those classes.
  * {
    color: white !important;
  }
}

.results-header {
  font-size: 19px;
  -webkit-font-smoothing: antialiased;
}
