// import GDS components from `node_modules`
//$govuk-images-path: "/assets/images/";
//$govuk-fonts-path: "/assets/fonts/";

$govuk-new-typography-scale: true;
$govuk-global-styles: true;
$govuk-new-link-styles: true;

@import "node_modules/govuk-frontend/dist/govuk/all";

// import custom CSS
@import 'google-translate';

$laa-unknown-colour: govuk-colour("orange");
$laa-staging-colour: govuk-colour("turquoise");
$laa-dev-colour: govuk-colour("pink");

.page-header {
  margin: 2em 0;
}

.form-action {
  margin-top: 1em;
}

body.govuk-template__body {
  height: auto;
  height: initial;
  display: block;
}

.laa-postcode {
  text-transform: uppercase;
}

.fala-tickbox-columns_new {
  // Default for mobile (1 column)
  column-count: 1;
  // Adjust the gap between columns
  column-gap: 16px;
}

@media only screen and (min-width: 730px) {
  .fala-tickbox-columns_new {
    // Default for mobile (1 column)
    column-count: 2;
  }
}

.fala-tickbox-columns_new .govuk-checkboxes__item {
  // Ensure items do not break across columns
  break-inside: avoid;
}

.govuk-checkboxes__label {
  &::before {
    background-color: govuk-colour("white");
  }
}

/*below override for archaic class*/
p.govuk-body:last-child,
p.govuk-body-m:last-child {
  margin-bottom:20px;
}

p.govuk-body-l:last-child {
  margin-bottom:30px;
}

.gds-header__error {
  border-bottom: 10px solid $govuk-error-colour;
}

.laa-cookie-banner {
  background: govuk-colour("white");
  display: none;
}

.js-enabled .laa-cookie-banner {
  display:block;

  &.laa-cookies-accepted {
    display:none;
  }
  &.laa-cookies-rejected {
    display:none;
  }
}

.laa-hide-if-no-js {
  display:none;
}

.js-enabled .laa-hide-if-no-js {
  display:initial;
}

body:not(.fala-production) {
  .govuk-header__container {
    border-bottom-color:$laa-unknown-colour;
  }
  .govuk-phase-banner__content__tag {
    background-color:$laa-unknown-colour
  }
}

body.fala-staging {
  .govuk-header__container {
    border-bottom-color:$laa-staging-colour;
  }
  .govuk-phase-banner__content__tag {
    background-color:$laa-staging-colour;
  }
}

body.fala-dev {
  .govuk-header__container {
    border-bottom-color:$laa-dev-colour;
  }
  .govuk-phase-banner__content__tag {
    background-color:$laa-dev-colour;
  }
}

.fala-header__logotype-crest {
  position: relative;
  top: -7px;
  margin-right: 5px;
  vertical-align: top;
}

.govuk-header__logo,
.govuk-header__content {
  display:inline-block;
  float:none;
  padding-left:0;
  width:unset;
}

.govuk-header__logo {
  white-space: nowrap;
  min-width: 33.33%;
  margin-bottom: 0;
}

.govuk-footer__copyright-logo {
  max-width: 140px;
}

.laa-fala {
  &__search {
  margin-top:1em;
  clear:both;
  }

  &__grey-box {
    background-color: govuk-colour("light-grey");
    padding: 1em;
  }
}

.miles-away {
  color: $govuk-secondary-text-colour;
  margin-top: govuk-spacing(4);
}

.results-list-item {
  margin-top: govuk-spacing(4);
  border-top: 1px solid govuk-colour("mid-grey");

  .telephone {
    margin-top: govuk-spacing(2);
  }

  .address {
    margin-top: govuk-spacing(2);
  }

  .website {
    margin-top: govuk-spacing(2);
  }

  .categories {
    margin-top: govuk-spacing(2);
    margin-bottom: 0;

    .govuk-list {
      margin-bottom: 0;
    }
  }
}

.research-panel {
  background: govuk-colour("blue");

  text-align: left;

  // All text on the blue background should be white for accessibility and legibility purposes.
  // However, several govuk classes that provide handy spacing and typography rules also dictate a dark text colour.
  // Therefore we use this strong rule to ensure that text stays white even when we use those classes.
  * {
    color: white !important;
  }
}

.results-header {
  font-size: 19px;
  -webkit-font-smoothing: antialiased;
}

.alert-info {
  background: #f8f8f8;
  border-left: 4px solid #bfc1c3;
}

.alert {
  padding: 20px;
  margin: 25px 0;
  outline: 0;
}

.alert .alert-message .alert-header {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 0 10px;
}
