<section class="find-legal-adviser">
  {% if data and data.count and data.count > 0 %}
    <p class="results-summary">
{#      {% blocktrans with count=data.results|length %}Showing {{ count }} results around{% endblocktrans %}#}
      <span class="results-location">{{ data.origin.postcode }}</span>
      {% if category_name %}
        {{ _('for') }}
        <span class="results-filter org-category">
          {{ category_name }}
          <a
            class="filter-remove"
            href="{{ LAALAA_API_HOST }}"
            title="Remove filter"
          >
            <i class="icon icon-remove"></i>
            {{ _('Remove') }}
          </a>
        </span>
      {% endif %}
    </p>

    <div class="search-results-container">
      <div id="resultsMap" class="map" data-lat="{{ data.origin.point.coordinates.1 }}" data-lon="{{ data.origin.point.coordinates.0 }}"></div>
      <div class="search-results">


        <div class="search-results-list">
          <ul class="org-list">
            {% for item in data.results %}
              <li class="org-list-item vcard" data-lat="{{ item.location.point.coordinates.1 }}" data-lon="{{ item.location.point.coordinates.0 }}" data-id="{{ forloop.counter }}">
                <header class="org-summary">
                  <h3 class="org-title">
                    <span class="marker">{{ forloop.counter }}</span>
                    <span class="fn org">{{ item.organisation.name }}</span>
                  </h3>
                  <div class="distance">
                    <span class="sr-only">{{ _('Distance') }}</span>
{#                    {% blocktrans with miles=item.distance|floatformat:2 %}{{ miles }} miles{% endblocktrans %}#}
                  </div>
                </header>
                <div class="org-details">
                  {% if item.categories|length %}
                    <div class="org-categories" role="list">
                      <div class="sr-only">{{ _('Categories of law') }}</div>
                      {% for cat in item.categories %}
                        {% if cat %}
                          <span class="org-category" role="listitem">{{ cat }}</span>
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% endif %}
                  <p>
                    <span class="sr-only">{{ _('Address') }}:</span>
                    <span class="adr">
                      <span class="street-address">{{ item.location.address }}</span>
                      <span class="postal-code">{{ item.location.postcode }}</span>
                      <span class="city">{{ item.location.city }}</span>
                    </span>
                  </p>
                  <p>
                    <span>{{ _('Helpline') }}:</span>
                    <span class="tel">{{ item.telephone }}</span>
                  </p>
                  {% if item.organisation.website %}
                    <p>
                      <span>{{ _('Website') }}:</span>
                      <a class="url" href="item.organisation.website" target="_blank" rel="external">item.organisation.website</a>
                    </p>
                  {% endif %}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

        <nav class="search-results-pagination">
          <ul>
            {% if data.previous %}
              <li class="results-nav results-nav-prev">
                <a
                  href="{{ LAALAA_API_HOST }}"
                  data-page="1"
                >
                  {{ _('Previous') }}
                </a>
              </li>
            {% endif %}
            {% if data.next %}
              <li class="results-nav results-nav-next">
                <a
                  href="{{ LAALAA_API_HOST }}"
                  data-page="2"
                >
                  {{ _('Next') }}
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>

      </div>
    </div>
  {% elif 'count' in data and data.count == 0 %}
    {{ _('No results') }}
  {% endif %}
</section>

<script>
  window.LABELS = {
    loading: "{{ _('Loading…') }}"
  };
</script>
