<div class="govuk-grid-row back-container">
  <div class="govuk-grid-column-one-half">
    {% if tailored_results %}
      {% if request.GET.getlist('categories')|length > 1 %}
        {{ govukBackLink({
          'classes': "back_link govuk-!-display-none-print govuk-!-margin-top-0",
          'text': BACK_LABEL,
          'href': "/check?categories="+category_code+"&sub-category="+sub_category_code,
        }) }}
      {% else %}
        {{ govukBackLink({
          'classes': "back_link govuk-!-display-none-print govuk-!-margin-top-0",
          'text': BACK_LABEL,
          'href': "/check?categories="+category_code,
        }) }}
      {% endif %}
    {% else %}
      {{ govukBackLink({
        'classes': "back_link govuk-!-display-none-print govuk-!-margin-top-0",
        'text': BACK_LABEL,
        'href': "/",
      }) }}
    {% endif %}
  </div>
</div>
