{% extends 'adviser/adviser_base.html' %}

{% block pageTitle %}{{_('Accessibility statement for Find a legal advisor')}}{% endblock %}

{% block content %}
  <div class="govuk-grid-column-two-thirds">
    <div id="google_translate_element" class="govuk-!-margin-bottom-6"></div>

    <h1 class="govuk-heading-xl">{{_('Accessibility statement for Find a legal advisor')}}</h1>

    <p class="govuk-body">
      {{_('This accessibility statement applies to the ‘Find a legal advisor’ service.')}}
    </p>

    <p class="govuk-body">
      {{_('This website is run by the ')}}<a class="govuk-link" href="https://www.gov.uk/government/organisations/legal-aid-agency" rel="external">{{_('Legal Aid Agency')}}</a> (<abbr>LAA</abbr>){{_(', part of the Ministry of Justice ')}}(<abbr>MoJ</abbr>).
      {{_('We want as many people as possible to be able to use this website. For example, that means you should be able to:')}}
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>{{_('change colours, contrast levels and fonts using browser or device settings')}}</li>
      <li>{{_('zoom in up to 400%% without the text spilling off the screen')}}</li>
      <li>{{_('navigate most of the website using a keyboard or speech recognition software')}}</li>
      <li>{{_('listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)')}}</li>
    </ul>

    <p class="govuk-body">
      {{_('We’ve also made the website text as simple as possible to understand.')}}
    </p>

    <p class="govuk-body">
      <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/" rel="external">{{_('AbilityNet')}}</a>{{_(' has advice on making your device easier to use if you have a disability.')}}
    </p>

    <h2 class="govuk-heading-m">{{_('How accessible this website is')}}</h2>

    <p class="govuk-body">
      {{_('We know some parts of this website are not fully accessible:')}}
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>{{_('elements of the results page do not meet minimum contrast standards')}}</li>
      <li>{{_('Google Translate does not translate technical terms into Plain English')}}</li>
      <li>{{_('hyperlinks to google maps are not specific about the listing they are related to')}}</li>
    </ul>
   
    <h2 class="govuk-heading-m">{{_('Feedback and contact information')}}</h2>

    <p class="govuk-body">
      {{_('We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact us by email at')}} <a class="govuk-link email" href="mailto:eligibility@justice.gov.uk">eligibility@justice.gov.uk</a>.
    </p>

    <h2 class="govuk-heading-m">{{_('Enforcement procedure')}}</h2>

    <p class="govuk-body">
      {{_('The Equality and Human Rights Commission (<abbr>EHRC</abbr>) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a class="govuk-link" href="https://www.equalityadvisoryservice.com/" rel="external">contact the Equality Advisory and Support Service (<abbr>EASS</abbr>)</a>.')}}
    </p>

    <h2 class="govuk-heading-m">
      {{_('Technical information about this website’s accessibility')}}
    </h2>

    <p class="govuk-body">
      {{_('The Legal Aid Agency is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.')}}
    </p>

    <h2 class="govuk-heading-m">{{_('Compliance status')}}</h2>

    <p class="govuk-body">
      {{_('This website is <strong>partially compliant</strong> with the Web Content Accessibility Guidelines (<abbr>WCAG</abbr>) version 2.2 AA standard, due to the existing issues listed below.')}}
    </p>

    <h2 class="govuk-heading-m">{{_('Non-accessible content')}}</h2>

    <p class="govuk-body">{{_('The content listed below is non-accessible for the following reasons.')}}</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>{{_('The results page border does not have sufficient colour contrast. This fails WCAG success criterion 1.4.3 Contrast (Minimum). We plan to fix this by the end of July 2024.')}}</li>
      <li>{{_('The links to google maps elements are not identifiable from the link text alone. This fails WCAG success criterion 2.4.9 Link Purpose. We plan to fix this by the end of October 2024.')}}</li>
      <li>{{_('The results page title is the same as the main page and so does not clearly describe the topic or purpose. This fails WCAG success criterion 2.4.2 Page Titled. We plan to fix this by the end of October 2024.')}}</li>
    </ul>

    <h3 class="govuk-heading-s">{{_('Disproportionate burden')}}</h3>

    <p class="govuk-body">{{_('Not applicable')}}</p>

    <h3 class="govuk-heading-s">{{_('Content that’s not within the scope of the accessibility regulations')}}</h3>
   
    <p class="govuk-body">{{_('Not applicable')}}</p>

    <h2 class="govuk-heading-m">{{_('Preparation of this accessibility statement')}}</h2>

    <p class="govuk-body">
      {{_('This statement was prepared on 11 November 2020. It was last reviewed on 13 June 2024.')}}
    </p>

    <p class="govuk-body">
      {{_('This website was last tested on 12 June 2024. The test was carried out by the Ministry of Justice. We tested all of the pages using a basic accessibility test, but this was not a full audit.')}}
    </p>

    <p class="govuk-body">
      {{_('This statement will be reviewed by June 2025. We plan to audit the website against the WCAG 2.2 AA standard by June 2025.')}}
    </p>
  </div>
{% endblock %}
