{% if request.headers.get('x-requested-with') == 'XMLHttpRequest' %}
  {% extends 'ajax-base.html' %}
{% else %}
  {% extends 'base.html' %}
{% endif %}

{% block content %}
  <div class="govuk-grid-column-two-thirds">
    <div id="google_translate_element" class="govuk-!-margin-bottom-6"></div>

    <h1 class="govuk-heading-xl">Accessibility statement</h1>

    <p class="govuk-body">
      This accessibility statement applies to
      <a class="govuk-link" href="https://find-legal-advice.justice.gov.uk/">https://find-legal-advice.justice.gov.uk/</a>. The
      Legal Aid Agency (<abbr>LAA</abbr>) is responsible for this service.
    </p>

    <p class="govuk-body">
      We want as many people as possible to be able to use this service. For example,
      that means you should be able to:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>change colours, contrast levels and fonts;</li>
      <li>zoom in up to 300% without the text spilling off the screen, and</li>
      <li>navigate the service using just a keyboard</li>
    </ul>

    <p class="govuk-body">
      <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/" rel="external">AbilityNet</a> has
      advice on making your device easier to use if you have a disability.
    </p>

    <h2 class="govuk-heading-m">Feedback and contact information</h2>

    <p class="govuk-body">
      If you need information on this service in a different format, you can contact us at
      <a class="govuk-link email" href="mailto:civil-legal-advice@digital.justice.gov.uk">civil-legal-advice@digital.justice.gov.uk</a>.
    </p>

    <h2 class="govuk-heading-m">Reporting accessibility problems</h2>

    <p class="govuk-body">
      We’re always looking to improve the accessibility of this service. If you find any
      problems that aren’t listed on this page or think we’re not meeting the requirements
      of the accessibility regulations, contact
      <a class="govuk-link email" href="mailto:civil-legal-advice@digital.justice.gov.uk">civil-legal-advice@digital.justice.gov.uk</a>
      giving details of the issue and any assistive technology you are using.
    </p>

    <h2 class="govuk-heading-m">Enforcement procedure</h2>

    <p class="govuk-body">
      The Equality and Human Rights Commission (<abbr>EHRC</abbr>) is responsible for enforcing the Public
      Sector Bodies (Websites and Mobile Applications) (&#8470; 2) Accessibility Regulations
      2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to
      your complaint, contact the <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">Equality
      Advisory and Support Service (<abbr>EASS</abbr>)</a>.
    </p>

    <h2 class="govuk-heading-m">
      Technical information about this service’s accessibility
    </h2>

    <p class="govuk-body">
      The Legal Aid Agency is committed to making its service accessible, in accordance with the
      Public Sector Bodies (Websites and Mobile Applications) (&#8470; 2) Accessibility Regulations
      2018.
    </p>

    <h2 class="govuk-heading-m">Compliance status</h2>

    <p class="govuk-body">
      This service is <strong>partially compliant</strong> with the
      <a class="govuk-link" href="https://www.w3.org/TR/WCAG21/" rel="external">Web Content Accessibility Guidelines version 2.1</a>
      AA standard, due to the exemptions listed below.
    </p>

    <h2 class="govuk-heading-m">Non-accessible content</h2>

    <p class="govuk-body">Not applicable</p>

    <h2 class="govuk-heading-m">Disproportionate burden</h2>

    <p class="govuk-body">Not applicable</p>

    <h2 class="govuk-heading-m">
      Content that’s not within the scope of the accessibility regulations
    </h2>

    <h3 class="govuk-heading-s">Google Maps</h3>
    <p class="govuk-body">
      Using embedded Google Maps has issues for users:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Tab focus is not always visible in the map interface; </li>
      <li>JAWS users have to tab through map links and buttons before they get to the search results, and </li>
      <li>Navigation of the map is not always possible by voice. </li>
    </ul>
    <p class="govuk-body">
      We will consider using an alternative map provider if the
      service has a major redevelopment in the future.
    </p>

    <h2 class="govuk-heading-m">What we’re doing to improve accessibility</h2>

    <p class="govuk-body">
      We will monitor the accessibility of this website on an ongoing basis and fix any
      accessibility issues reported to us.
    </p>

    <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>

    <p class="govuk-body">
      This statement was prepared on 11 November 2020.
    </p>

    <p class="govuk-body">
      We have completed accessibility checks using core assistive technology applications
      such as JAWS, Zoom Text, Dragon and Text Help. The tests were carried out by the
      Ministry of Justice on 28 October 2020.
    </p>

    <p class="govuk-body">
      Components of this service, such as the map functionality, were also tested on
      13 July 2020 during an audit of
      <a class="govuk-link" href="https://checklegalaid.service.gov.uk/" rel="external">https://checklegalaid.service.gov.uk/</a>.
      These tests were carried out by the Digital Accessibility Centre (<abbr>DAC</abbr>).
    </p>
  </div>
{% endblock %}
