{% extends 'adviser/adviser_base.html' %}

{% block pageTitle %}
  {% if results %}
    {{_('Search results')}}
  {% else %}
    {{_('Find a Legal Aid Adviser or Family Mediator')}}
  {% endif %}
{% endblock %}

{% import "macros/element.html" as Element %}
{% import "macros/forms.html" as Form %}

{%- from 'govuk_frontend_jinja/components/error-summary/macro.html' import govukErrorSummary %}
{%- from 'govuk_frontend_jinja/components/checkboxes/macro.html' import govukCheckboxes %}
{%- from "govuk_frontend_jinja/components/input/macro.html" import govukInput %}
{%- from "govuk_frontend_jinja/components/exit-this-page/macro.html" import govukExitThisPage -%}

{% set titleText = _("There is a problem")%}

{% block content %}
  <div class="govuk-grid-column-full">
    <span class="language-and-exit-container">
      <div id="google_translate_element" class="govuk-!-margin-bottom-6 govuk-!-display-none-print"></div>
      <div id="exit_button">
      {% if category_code == 'mat' %}
        {{ govukExitThisPage("Exit this page")}}
      {% endif %}
    </div>
    </span>
  </div>
  <div class="govuk-grid-column-two-thirds">
    {% if form.errors %}
      {{ govukErrorSummary({
        "titleText": titleText,
        "errorList": errorList
      }) }}
    {% endif %}
    <h1 class="govuk-heading-xl"> {{_('Find a legal aid adviser for ')}}
      {% if category_code == 'hlpas' %}
        {{_('the')}} {{ category_display_name }}
      {% else %}
        {{ category_display_name | lower }}
      {% endif %}
    </h1>
    <p class="govuk-body">{{_('Search for official legal aid advisers in England and Wales.')}}</p>
    {% if category_message %}
      <p class="govuk-body">{{ category_message | linebreaks }}</p>
    {% endif %}
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">{{_('Next steps')}}</p>
    <ol class="govuk-list govuk-list--number">
      <li>{{_("We'll show you a list of legal advisers.")}}</li>
      <li>{{_("When you contact the adviser they'll ask about your problem and finances to work out if you can get legal aid.")}}</li>
    </ol>
  </div>

  {% block search_form %}
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ search_url }}" method="get" id="fala_questions">
        <input type="hidden" name="categories" value="{{ category_code }}">
        <input type="hidden" name="tailored_results" value="true">

        {% set POSTCODE_CATEGORY_LABEL = _("What is your postcode?") %}
        {% set POSTCODE_CATEGORY_HINT = _("For example, SW1H 9AJ") %}

        {% if 'postcode' in form.errors or form.errors['__all__'] %}
          {{ govukInput({
            'label': {'text': POSTCODE_CATEGORY_LABEL, 'classes': 'govuk-label--s'},
            'value': form.postcode.value(),
            'errorMessage': {'text': form.errors['postcode'][0]},
            'hint': {'text': POSTCODE_CATEGORY_HINT},
            'attributes': {'maxLength': 30},
            'id': 'id_postcode',
            'classes': 'govuk-input--width-10',
            'name': "postcode"
          }) }}
        {% else %}
          {{ govukInput({
            'label': {'text': POSTCODE_CATEGORY_LABEL, 'classes': 'govuk-label--s'},
            'value': form.postcode.value(),
            'hint': {'text': POSTCODE_CATEGORY_HINT},
            'attributes': {'maxLength': 30},
            'id': 'id_postcode',
            'classes': 'govuk-input--width-10',
            'name': "postcode"
          }) }}
        {% endif %}
        {{ govukButton({'text': _("Search"), 'type': "submit", 'classes': "govuk-!-margin-bottom-2"}) }}
      </form>
    </div>
  {% endblock %}
{% endblock %}
