{% extends "base.html" %}

{% block content %}
  <h1>Find a legal adviser or family mediator</h1>
  <form action="" method="GET">
    <fieldset>
      <legend>Search for a legal adviser or family mediator with a legal aid contract in England and Wales.</legend>
      <legend>Search by:</legend>
      <div class="form-group inline">
        <label class="block-label" for="radio-inline-11"><input id="radio-inline-11" name="search_by" type="radio" value="Location" checked>Location</input></label><label class="block-label" for="radio-inline-12"><input id="radio-inline-12" name="search_by" type="radio" value="Organisation">Organisation</input></label>
      </div>
      <div class="panel-indent" data-control-value="Location" data-controlled-by="search_by">
        <label class="form-label" for="ni-number-2">Enter a postcode, town or city</label><input name="postcode" class="form-control" id="postcode" type="text" />
      </div>
      <div class="panel-indent" data-control-value="Organisation" data-controlled-by="search_by">
        <label class="form-label" for="ni-number-2">Organisation name</label><input name="name" class="form-control" id="name" type="text" />
      </div>
    </fieldset>
    <input class="button" type="submit" value="Search">
    <div class="panel-indent" data-control-value="Location" data-controlled-by="search_by">
      <fieldset>
        <legend class="form-label-bold">Filter by:</legend>
        <p>
          Select all that apply
        </p>
        <label class="block-label" for="checkbox-1"><input id="checkbox-1" type="checkbox" value="charity">Charity or government-funded organisation</input></label>
        <label class="block-label" for="checkbox-2"><input id="checkbox-2" type="checkbox" value="solicitor">Solicitor or private company</input></label>
        <label class="block-label" for="checkbox-3"><input id="checkbox-3" type="checkbox" value="category">Categories of law</input></label>
      </fieldset>
    </div>
  </form>

  <div class="other-advise">
    <p id="advice">For advice on education or discrimination contact <a href="https://www.gov.uk/civil-legal-advice" rel="external" target="_blank">Civil Legal Advice.</a></p>
    <p>For welfare benefits, contact a <a href="https://www.justice.gov.uk/legal-aid/areas-of-work/civil/social-welfare-law" rel="external" target="_blank">local adviser</a>.</p>
  </div>
{% endblock %}
