{% extends "base.html" %}

{% macro hello() %}
  <h1>Hello</h1>
{% endmacro %}


{% block global_subheader %}
  <div class="global-subheader container">
    <div class="subheader-item phase-banner">
      <span class="phase-tag phase-tag-alpha">ALPHA</span>
      <span class="phase-banner-message">
        This is a new service – your <a href="/feedback">feedback</a> will help us to improve it.
      </span>
    </div>
  </div>
{% endblock %}

{% block content %}
  <header class="page-header">
    <h1>
      Find a legal adviser <span style="display:block;font-weight: 400;font-size:.9em;">or family mediator</span>
    </h1>
    <p class="lede">Search for a legal adviser or family mediator with a legal aid contract in England and Wales.</p>
  </header>

  {% include 'adviser/_find-legal-adviser.html' %}

  {% include 'adviser/_search-form.html' %}

  <div class="other-advise">
    <p id="advice">For advice on education or discrimination contact <a href="https://www.gov.uk/civil-legal-advice" rel="external" target="_blank">Civil Legal Advice.</a></p>
    <p>For welfare benefits, contact a <a href="https://www.justice.gov.uk/legal-aid/areas-of-work/civil/social-welfare-law" rel="external" target="_blank">local adviser</a>.</p>
  </div>

{% endblock %}

{% block before_main_js %}
  {{ block.super }}
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=true"></script>
{% endblock %}
