{% if request.is_ajax() %}
  {% extends 'ajax-base.html' %}
{% else %}
  {% extends 'base.html' %}
{% endif %}

{% block search_form %}
  <div class="legal-adviser-search">
    <ul class="tabs" role="tablist">
      <li class="tab"><a href="/location">Location</a></li>
      <li class="tab active"><a href="/organisation">Organisation</a></li>
    </ul>

    <form action="">
      {% call Form.group(form.organisation_name, 'form-group-plain') %}
        <button type="submit" class="button">Search</button>
      {% endcall %}
    </form>
  </div>
{% endblock %}
