{% extends 'adviser/adviser_base.html' %}

{% block pageTitle %}{{_('Search results')}}{% endblock %}
{% block language_and_navigation %}
  {% include 'adviser/_language_and_navigation_other_region.html' %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">{{_('The postcode ')}}{{ postcode }}{{_(' is in ')}}{{ region }}</h1>
    <p class="govuk-body">{{_('This search only covers England and Wales.')}}</p>
    <p class="govuk-body">
      {{_('Find out about ')}}<a class="govuk-link" href="{{ link }}">{{_('Legal Aid in ')}}{{ region }}</a>
      {{_('or try a different search.')}}
    </p>

    {% if not tailored_results %}
      <form action="/" method="get" novalidate>
        {{ govukButton({
          'text': _("Change search"),
          'type': "submit",
          'classes': "govuk-!-margin-bottom-2",
          'id': "otherRegionChangeSearchButton",
        }) }}
      </form>
    {% endif %}

  </div>
{% endblock %}
