{% extends 'adviser/adviser_base.html' %}

{% block pageTitle %}{{_('Search results')}}{% endblock %}

{% block content %}
  <div class="govuk-grid-column-full">
    <div id="google_translate_element" class="govuk-!-margin-bottom-6"></div>
    <a href="{{ url('adviser') }}" class="govuk-back-link govuk-!-margin-bottom-5 govuk-!-display-none-print">
      Back
    </a>
    <h1 class="govuk-heading-xl">{{_('The postcode ')}}{{ postcode }}{{_(' is in ')}}{{ region }}</h1>
    <p class="govuk-body">{{_('This search only covers England and Wales.')}}</p>
    <p class="govuk-body">
      {{_('Find out about ')}}<a class="govuk-link" href="{{ link }}">{{_('Legal Aid in ')}}{{ region }}</a>
      {{_('or try a different search.')}}
    </p>

    <form action="/" method="get" novalidate>
      <button type="submit" class="govuk-button govuk-!-margin-top-2" id="otherRegionChangeSearchButton" data-module="govuk-button">
        {{_('Change search')}}
      </button>
    </form>

  </div>
{% endblock %}
