{% extends 'adviser/adviser_base.html' %}

{% block pageTitle %}{% if form.errors %}{{_('Error: ')}}{% endif %}{{_('Find a Legal Aid Adviser or Family Mediator')}}{% endblock %}

{% import "macros/element.html" as Element %}
{% import "macros/forms.html" as Form %}

{%- from 'govuk_frontend_jinja/components/error-summary/macro.html' import govukErrorSummary %}
{%- from 'govuk_frontend_jinja/components/checkboxes/macro.html' import govukCheckboxes %}
{%- from "govuk_frontend_jinja/components/input/macro.html" import govukInput %}

{% set titleText = _("There is a problem")%}

{% block content %}
  <div class="govuk-grid-column-two-thirds">
      {% if form.errors %}
        {{ govukErrorSummary({
          "titleText": titleText,
          "errorList": errorList
        }) }}
      {% endif %}
      <h1 class="govuk-heading-xl">{{_('Find a legal aid adviser or family mediator')}}</h1>
      <p class="govuk-body">{{_('Use this service to find legal aid advisers in England and Wales. They will ask about your problem and finances to work out if you can get legal aid.')}}</p>
      <p class="govuk-body">{{_('You can ')}}<a class="govuk-link" href="{{ CHECK_LEGAL_AID_URL }}" target="_blank" rel="noopener">{{_('check if your problem is covered by legal aid (opens in a new tab)')}}</a>{{_(' before your call.')}}</p>
  </div>

  {% block search_form %}
      <div class="govuk-grid-column-full">
        <div class="laa-fala__grey-box">

          <form action="search" id="fala_questions">
            {% set errorMessage = {'err': ""} %}

            {% if form.errors %}
              {% call Element.errorText() %}
                {% for k, error in form.errors.items() %}
                  {% if errorMessage.update({'err': error | striptags}) %}{% endif %}
                {% endfor %}
              {% endcall %}
            {% endif %}

            {% set POSTCODE_LABEL = _("Postcode") %}
            {% set POSTCODE_HINT = _("For example, NE31 1SF, or a partial postcode like NE31, S1 or SW1X.") %}
            {% set ORG_LABEL = _("Name of organisation you are looking for (optional)") %}
            {% set ORG_HINT = _("For example, Citizens Advice or Shelter") %}
            {% set LEGAL_HINT = _("Legal problem (optional)") %}
            {% set SEARCH_LABEL = _("Search") %}

            {% if 'postcode' in form.errors or form.errors['__all__'] %}
              {{ govukInput({
                'label': {
                  'text': POSTCODE_LABEL,
                  'classes': 'govuk-label--s',
                },
                'value': form.postcode.value(),
                'errorMessage': { 'text': form.errors['postcode'][0] },
                'hint': {
                  'text' : POSTCODE_HINT,
                  'classes': 'hint-colour-override',
                },
                'attributes': {
                   'maxLength': 30,
                },
                'id': 'id_postcode',
                'classes': 'govuk-input--width-10',
                'name': "postcode"
              }) }}
            {% else %}
              {{ govukInput({
                'label': {
                  'text': POSTCODE_LABEL,
                  'classes': 'govuk-label--s',
                },
                'value': form.postcode.value(),
                'hint': {
                  'text' : POSTCODE_HINT,
                  'classes': 'hint-colour-override',
                },
                'attributes': {
                   'maxLength': 30,
                },
                'id': 'id_postcode',
                'classes': 'govuk-input--width-10',
                'name': "postcode"
              }) }}
            {% endif %}
            {% if 'name' in form.errors or form.errors['__all__'] %}
              {{ govukInput({
                'label': {
                  'text': ORG_LABEL,
                  'classes': 'govuk-label--s',
                },
                'attributes': {
                   'maxLength': 100,
                },
                'value': form.name.value(),
                'errorMessage': { 'text': form.errors['name'][0] },
                'hint': {
                  'text' : ORG_HINT,
                  'classes': 'hint-colour-override',
                },
                'id': 'id_name',
                'classes': 'govuk-!-width-one-third',
                'name': "name"
              }) }}
            {% else %}
              {{ govukInput({
                'label': {
                  'text': ORG_LABEL,
                  'classes': 'govuk-label--s',
                },
                'attributes': {
                   'maxLength': 100,
                },
                'value': form.name.value(),
                'hint': {
                  'text' : ORG_HINT,
                  'classes': 'hint-colour-override',
                },
                'id': 'id_name',
                'classes': 'govuk-!-width-one-third',
                'name': "name",
                'autocomplete': "on"
              }) }}
            {% endif %}

            <div class="form-group filters">
              {{ govukCheckboxes({
                'name': "categories",
                'values': request.GET.getlist('categories',''),
                'classes': 'govuk-checkboxes--small',
                'fieldset': {
                    'legend': {
                      'text': LEGAL_HINT,
                      'isPageHeading': false,
                      'classes': "govuk-fieldset__legend--s"
                    },
                    'classes': 'fala-tickbox-columns_new'
                },
                'items': form.categories | form_categories
              }) }}

              {{ govukButton({
                'text': SEARCH_LABEL,
                'type': "submit",
                'classes': "govuk-!-margin-bottom-2",
                'id': "searchButton"
              }) }}
            </div>
          </form>
        </div>
      </div>
  {% endblock %}

    <div class="govuk-grid-column-full">
      <p class="govuk-body govuk-!-margin-top-5">{{_('If you are a provider and your details are incorrect, contact your contract manager.')}}</p>
    </div>
{% endblock %}


