{% if request.is_ajax() %}
  {% extends 'ajax-base.html' %}
{% else %}
  {% extends 'base.html' %}
{% endif %}

{% import "macros/element.html" as Element %}
{% import "macros/forms.html" as Form %}

{% block search_form %}
  {% if form.errors and form.errors['__all__'] %}
    {% call Element.alert('error', title='Form errors') %}
      {% for k, error in form.errors.items() %}
        {{ error }}
      {% endfor %}
    {% endcall %}
  {% endif %}
  <div class="legal-adviser-search">
    <form action="">
      {% call Form.group(form.postcode, 'form-group-plain', field_attrs={'class': 'govuk-input'}) %}
        <button type="submit" class="govuk-button" id="searchButton" name="search">Search</button>
      {% endcall %}

      <div class="form-group filters">
        <div class="form-group-label">
          <label class="govuk-label">{{ _('Filter by') }}</label>
        </div>
        <div class="form-row">
          {% call Form.group(form.name, 'form-group-plain', field_attrs={'class': 'govuk-input'}) %}
            <button type="submit" class="govuk-button govuk-button--secondary" name="filter">Filter</button>
          {% endcall %}
        </div>
        <div class="grid-row">
          <div class="column-half">
            <fieldset class="form-group fieldset-group">
              <legend class="form-group-label">
                {{ form.categories.label }}
              </legend>
              <ul class="form-option-list">
                {% for org in form.categories %}
                  <li>{{ org }}</li>
                {% endfor %}
              </ul>
            </fieldset>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
