{% if request.is_ajax() %}
  {% extends 'ajax-base.html' %}
{% else %}
  {% extends 'base.html' %}
{% endif %}

{% block search_form %}
  <div class="legal-adviser-search">
    <form action="">
      {% call Form.group(form.postcode, 'form-group-plain') %}
        <button type="submit" class="button" id="searchButton" name="search">Search</button>
      {% endcall %}

      <div class="form-group filters">
        <div class="form-group-label">
          <label>{{ _('Filter by') }}</label>
        </div>
        <div class="form-row">
          {% call Form.group(form.organisation_name, 'form-group-plain') %}
            <button type="submit" class="button button-secondary" name="filter">Filter</button>
          {% endcall %}
        </div>
        <div class="grid-row">
          <div class="column-half">
            <fieldset class="form-group fieldset-group">
              <legend class="form-group-label">
                {{ form.type.label }}
              </legend>
              <ul class="form-option-list">
                {% for org in form.type %}
                  <li>{{ org }}</li>
                {% endfor %}
              </ul>
            </fieldset>
          </div>
          <div class="column-half">
            <fieldset class="form-group fieldset-group">
              <legend class="form-group-label">
                {{ form.categories.label }}
              </legend>
              <ul class="form-option-list">
                {% for org in form.categories %}
                  <li>{{ org }}</li>
                {% endfor %}
              </ul>
            </fieldset>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
