{% extends 'adviser/adviser_base.html' %}

{% block pageTitle %}Find a Legal Aid Adviser or Family Mediator{% endblock %}

{% import "macros/element.html" as Element %}
{% import "macros/forms.html" as Form %}

{%- from 'govuk_frontend_jinja/components/error-summary/macro.html' import govukErrorSummary %}
{%- from 'govuk_frontend_jinja/components/checkboxes/macro.html' import govukCheckboxes %}
{%- from "govuk_frontend_jinja/components/input/macro.html" import govukInput %}

{% block content %}
  <div class="govuk-grid-column-two-thirds">
      <div id="google_translate_element" class="govuk-!-margin-bottom-6"></div>
      {% if form.errors %}
        {{ govukErrorSummary({
          "titleText": "There is a problem",
          "errorList": errorList
        }) }}
      {% endif %}
      <h1 class="govuk-heading-xl"> Find a legal aid adviser for 
        {% if category_slug == 'hlpas' %}
          {{ category_display_name }}
        {% else %}
          {{ category_display_name | lower }}
        {% endif %}
      </h1>
      <p class="govuk-body">Search for official legal aid advisers in England and Wales.</p>
      {% if category_message %}
        <p class="govuk-body">{{ category_message |linebreaks }}</p>
      {% endif %}
  </div>

  {% block search_form %}
      <div class="govuk-grid-column-two-thirds">

        <form action="search" id="fala_questions">
          {% set errorMessage = {'err': ""} %}

          {% if form.errors %}
            {% call Element.errorText() %}
              {% for k, error in form.errors.items() %}
                {% if errorMessage.update({'err': error | striptags}) %}{% endif %}
              {% endfor %}
            {% endcall %}
          {% endif %}

          <p class="govuk-body govuk-!-font-weight-bold">Next steps</p>
          <ol class="govuk-list govuk-list--number">
            <li>We'll show you a list of legal advisers.</li>
            <li>When you contact the adviser they'll ask about your problem and finances to work out if you can get legal aid.</li>
          </ol>

          {% if 'postcode' in form.errors or form.errors['__all__'] %}
            {{ govukInput({
              'label': {
                'text': "What is your postcode?",
                'classes': 'govuk-label--s',
              },
              'value': form.postcode.value(),
              'errorMessage': { 'text': form.errors['postcode'][0] },
              'hint': {
                'text' : "For example, SW1H 9AJ",
              },
              'attributes': {
                  'maxLength': 30,
              },
              'id': 'id_postcode',
              'classes': 'govuk-input--width-10',
              'name': "postcode"
            }) }}
          {% else %}
            {{ govukInput({
              'label': {
                'text': "What is your postcode?",
                'classes': 'govuk-label--s',
              },
              'value': form.postcode.value(),
              'hint': {
                'text' : "For example, SW1H 9AJ",
              },
              'attributes': {
                  'maxLength': 30,
              },
              'id': 'id_postcode',
              'classes': 'govuk-input--width-10',
              'name': "postcode"
            }) }}
          {% endif %}

          {{ govukButton({
            'text': "Search",
            'type': "submit",
            'classes': "govuk-!-margin-bottom-2",
            'id': "searchButton",
            'name': "search"
          }) }}
        </form>
      </div>
  {% endblock %}

  {% if results %}
  <h2 class="govuk-heading-l">Results</h2>
  <ul class="govuk-list govuk-list--bullet">
    {% for item in results %}
      <li>
        <h3>{{ item.organisation.name }}</h3>
        <p>{{ item.location.address }}, {{ item.location.city }}, {{ item.location.postcode }}</p>
        <p>Phone: {{ item.telephone }}</p>
        {% if item.distance %}
          <p>{{ item.distance|round(1) }} miles away</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No results found for the given postcode and category.</p>
{% endif %}


{% endblock %}